main {
  color: #fff;
  margin-top: 6em;

  .main-title {
    text-align: center;
    font-size: 1.5rem;

    @media(min-width: 900px) {
      font-size: 3rem;
      text-align: left;
    }
  }

  .main-text {
    text-align: center;
    margin-top: 2em;

    @media(min-width: 900px) {
      text-align: left;
    }
  }

  .card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.15);
    padding: 2em;

    &--purple {
      background-color: $blue;
      margin-bottom: 1.5em;
      padding: 1.5em;
    }
  }

  .trial-text {
    text-align: center;
    margin: 0 auto;
    width: 85%;

    .thick {
      font-weight: 700;
    }
  }

  .col-left {
    flex: .8;
  }

  .col-right {
    flex: .8;
  }

  .terms-services {
    color: $grayish-blue;
    font-size: .75rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
    width: 95%;

    .terms-link {
      color: $red;
      transition: .25s;

      &:hover {
        opacity: .75;
      }
    }
  }
}