main {
  .input-wrapper {
    position: relative;
  }
  .error-icon {
    display: none;
    position: absolute;
    top: 6px;
    right: 6px;
    float: right;

    &--shown {
      display: block;
    }
  }
  .input {
    &--invalid {
      border: solid 1px $red;
    }
  }
}
